div.header-container {
    width:100%;
    background-color: #e9e8e8;
}
div.elements-container {
    width: 20%;
    background-color: blue;
}

div.pictures-container {
    width: 80%;
    background-color: springgreen;
}

div.footer-container {
    width:100%;
    text-align: center;
    background-color: black;
    color: white;
}

div {
    float: left;
}

div.cuerpo-container{
    width: 100%;
}

.logo{
    width: 50%;
}

div.header-icon{
    margin: 1%;
}

.escudo-elemento{
    width: 50%;
}

div.header-title{
    width: 50%;
}

div.fila{
    width: 100%;
}

div.imagen-elemento{
    text-align: center;
}

div.informacion{
    width: 80%;
    background-color: aliceblue;
}
.imagen-info{
    width: 100%;
}